meas_MID294_31P_MT_cATP_FA0_PCr_TPI_P3600_RES12_TR250_TE5_FID4938_filter_hamming2_freq_0_echo_0_trans.nii
*.nii
*.mat
output/
*.pyc
output/inverse_pcr_toall0.mat
output/inverse_pcr_toall1.mat
output/inverse_pcr_toall0.mat
output/*.mat
output/*
parameters/__pycache__/initialization.cpython-37.pyc
utils_own/__pycache__/utils.cpython-37.pyc
pyscript_applytransform.m
pyscript_*.m
utils_own/*.pyc
utils_own/__pycache__/utils.cpython-37.pyc
parameters/__pycache__/initialization.cpython-37.pyc
output/pcr_toall1.mat
output/pcr_toall0.mat
mask_volunteer_warp.nii.gz
pyscript_applytransform.m
pyscript_calccoregaffine.m
pyscript_coregister.m
rfl200200_20200819_001_012_mprage_sag_T1_160sl_iPAT2_log.txt
rfl200200_20200819_001_012_mprage_sag_T1_160sl_iPAT2_warpcoef_inverse.nii.gz
rfl200200_20200819_001_012_mprage_sag_T1_160sl_iPAT2_warped.nii.gz
output/inverse_pcr_toall0.mat
